<% layout('./layout') -%>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header">Create/Edit User</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form method="post" id="userform">
						<input type="hidden" name="_id" value="<%= model._id%>">

						<div class="form-group col-md-3">
							<label>User Name</label>
							<input type="text" class="form-control" name="username" value="<%= model.username %>">
						</div>

						<div class="form-group col-md-3">
							<label>Password</label>
							<input type="text" required class="form-control" name="password" value="<%= model.password %>">
						</div>

						<div class="form-group col-md-3">
							<label>Role</label>
							<select class="form-control" name="role" required>
								<option value="admin" <%= (model.role=="admin")? 'selected':'' %>>Admin</option>
								<option value="user" <%= (model.role=="user")? 'selected':'' %>>User</option>
							</select>
						</div>

						<div class="form-group col-md-3">
							<label>Active Status</label>
							<select class="form-control" name="activestatus" required>
								<option value="active" <%= (model.activestatus=="active")? 'selected':'' %>>active</option>
								<option value="deactive" <%= (model.activestatus=="deactive")? 'selected':'' %>>deactive
								</option>
							</select>
						</div>

						<div class="form-group col-md-3">
							<label>createddate</label>
							<input type="text" class="form-control" value="<%= model.createddate %>">
						</div>

						<div class="form-group col-md-3">
							<label>Full Name</label>
							<input type="text" class="form-control" name="fullname" value="<%= model.fullname %>">
						</div>

						<div class="form-group col-md-3">
							<label>Email</label>
							<input type="email" class="form-control" name="email" value="<%= model.email%>">
						</div>



						<div class="form-group col-md-3">
							<label>emailverified  (yes/no/'')</label>
							<input type="text" class="form-control" name="emailverified" value="<%= model.emailverified || ''%>">
						</div>
						<div class="form-group col-md-3">
							<label>Address</label>
							<input type="text" class="form-control" name="address" value="<%= model.address || ''%>">
						</div>
						<div class="form-group col-md-3">
							<label>City</label>
							<input type="text" class="form-control" name="city" value="<%= model.city || ''%>">
						</div>
						<div class="form-group col-md-3">
							<label>Country</label>
							<input type="text" class="form-control" name="country" value="<%= model.country || ''%>">
						</div>
						<div class="form-group col-md-3">
							<label>Currency</label>
							<input type="text" class="form-control" name="currency" value="<%= model.currency || ''%>">
						</div>
						<div class="form-group col-md-3">
							<label>CNIC/Passport</label>
							<input type="text" class="form-control" name="cnicpassport" value="<%= model.cnicpassport || ''%>">
						</div>
						<div class="form-group col-md-3">
							<label>Designation</label>
							<input type="text" class="form-control" name="designation" value="<%= model.designation|| ''%>">
						</div>
						<div class="form-group col-md-3">
							<label>Description</label>
							<input type="text" class="form-control" name="description" value="<%= model.description|| ''%>">
						</div>
						<div class="form-group col-md-3">
							<label>Facebook</label>
							<input type="text" class="form-control" name="facebook" value="<%= model.facebook|| ''%>">
						</div>

						<div class="form-group col-md-3">
							<label>Linkedin</label>
							<input type="text" class="form-control" name="linkedin" value="<%= model.linkedin|| ''%>">
						</div>
						<div class="form-group col-md-3">
							<label>Skype</label>
							<input type="text" class="form-control" name="skype" value="<%= model.skype|| ''%>">
						</div>
						<div class="form-group col-md-3">
							<label>Whatsapp</label>
							<input type="text" class="form-control" name="whatsapp" value="<%= model.whatsapp|| ''%>">
						</div>
						<div class="form-group col-md-3">
							<label>Youtube</label>
							<input type="text" class="form-control" name="youtube" value="<%= model.youtube|| ''%>">
						</div>
						<div class="form-group col-md-3">
							<label>phone</label>
							<input type="text" class="form-control" name="phone" value="<%= model.phone|| ''%>">
						</div>
						<div class="form-group col-md-3">
							<label>phoneverified (yes/no/'')</label>
							<input type="text" class="form-control" name="phoneverified" value="<%= model.phoneverified|| ''%>">
						</div>
			
						<div class="form-group col-md-3">
							<label>Password reset code</label>
							<input type="text" class="form-control" name="passwordresetcode" value="<%= model.passwordresetcode|| ''%>">
						</div>
						
						<div class="form-group col-md-3">
							<label>Website</label>
							<input type="text" class="form-control" name="website" value="<%= model.website|| ''%>">
						</div>
						


						<div class="form-group col-md-3">
							<label>BusinessBook Package</label>
							<select name="businessbookmembershipplan" class="form-control">
								<option value=""></option>
								<option value="Package 1" <%= (model.businessbookmembershipplan=="Package 1")? 'selected':'' %>>
									Package 1
								</option>
								<option value="Package 2" <%= (model.businessbookmembershipplan=="Package 2")? 'selected':'' %>>
									Package 2
								</option>
								<option value="Package 3" <%= (model.businessbookmembershipplan=="Package 3")? 'selected':'' %>>
									Package 3
								</option>
								<option value="Custom" <%= (model.businessbookmembershipplan=="Custom")? 'selected':'' %>>
									Custom
								</option>
							</select>
						</div>

						<div class="form-group col-md-3">
							<label>businessbookmembershipexpirydate</label>
							<input type="text" class="form-control" id="businessbookmembershipexpirydate" name="businessbookmembershipexpirydate" value="<%= model.businessbookmembershipexpirydate|| ''%>">
						</div>

						<div class="form-group col-md-3">
							<label>businessbookcanrun  (yes/no/'')</label>
							<input type="text" class="form-control" name="businessbookcanrun" value="<%= model.businessbookcanrun || ''%>">
						</div>

						<div class="form-group col-md-3">
							<label>Sms Package</label>
							<select class="form-control" name="smsplan">
								<option value=""></option>
								<option value="Package 1" <%= (model.smsplan=="Package 1")? 'selected':'' %>>Package 1
								</option>
								<option value="Package 2" <%= (model.smsplan=="Package 2")? 'selected':'' %>>Package 2
								</option>
								<option value="Package 3" <%= (model.smsplan=="Package 3")? 'selected':'' %>>Package 3
								</option>
								<option value="Custom" <%= (model.smsplan=="Custom")? 'selected':'' %>>Custom
								</option>
							</select>
						</div>

						<div class="form-group col-md-3">
							<label>smsplanbrandname</label>
							<input type="text" class="form-control" name="smsplanbrandname" value="<%= model.smsplanbrandname|| ''%>">
						</div>

						<div class="form-group col-md-3">
							<label>smsplanexpirydate</label>
							<input type="text" class="form-control" id="smsplanexpirydate" name="smsplanexpirydate" value="<%= model.smsplanexpirydate|| ''%>">
						</div>

						<div class="form-group col-md-3">
							<label>smsplansentsms</label>
							<input type="text" class="form-control" name="smsplansentsms" value="<%= model.smsplansentsms|| ''%>">
						</div>

						<div class="form-group col-md-3">
							<label>Action</label>
							<button type="submit" style="width: 100%;" class="btn btn-primary">Save</button>
						</div>

						

				</div>
				</form>
			</div>
		</div>
	</div>
	<%if(model._id){%>
	<div class="row">
		<div class="col-lg-12">
			<strong>User Login History</strong>
			<p class="badge badge-secondary" style="cursor: pointer;" onclick="deleteloginhistory()">Delete Login History</p>
			<div id="json-renderer-dataindex"></div>
		</div>
	</div>
	<%}%>
</div>
<script>
	$("#businessbookmembershipexpirydate" ).datepicker({
	});
	$("#smsplanexpirydate").datepicker({
	});

	
	<%if(model._id){%>
		var userid= "<%-model._id %>";
		var dataindex = <%- JSON.stringify(model.loginhistory)%>;
		$('#json-renderer-dataindex').jsonViewer(dataindex);

		function deleteloginhistory(){
			$.ajax({
				url:'/admin/userviewdeleteloginhistory',
				type:'post',
				data:{userid:userid},
				success:(d)=>{
					window.location.reload()
				},
				error:(d)=>{
					window.location.reload()
				}
			})
		}
	<%}%>
</script>