<% layout('./layout') -%>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header">Users</h3>
			<div class="" style="float: right; padding-bottom: 10px;">
				<a href="/admin/userview" class="btn btn-sm btn-success justify ">Create User</a>
			</div>
		</div>
	</div>
	<!--/.row-->
	<div class="row">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Sr</th>
					<th scope="col">Full Name</th>
					<th scope="col">Username</th>
					<th scope="col">Email</th>
					<th scope="col">Busisness Book</th>
					<th scope="col">SMS</th>
					<th scope="col">Role</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i < model.length; i++) { %>
					<tr>
						<td><%= i+1 %></td>
					  <td><%= model[i].fullname %></td>
					  <td><%= model[i].username %></td>
					  <td><%= model[i].email %></td>
					  <td><%= model[i].businessbookmembershipplan %></td>
					  <td><%= model[i].smsplan %></td>
					  <td><%= model[i].role %></td>
					  <td style="cursor: pointer;">
						 <a href="/admin/userview?id=<%= model[i]._id%>">View/Edit</a>
					  </td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>